/* Wrapper */

#wrapper {
  opacity: 1 !important;
}

/* Nav */

#nav a {
  opacity: 1;
}

#nav a:before,
#nav a:after {
  display: none;
}

#nav a span {
  top: 0;
  opacity: 1;
}

#nav a span:after {
  display: none;
}

/* Main */

#main {
  background: none;
  box-shadow: none;
}

#main > .panel {
  background: #ffffff;
  margin-bottom: 2em;
}

#main > .panel:last-child {
  margin-bottom: 0;
}
