body {
  background: black;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

img {
  border-radius: 50%;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  height: auto;
  max-width: 100px;
}

.profile-name {
  text-align: center;
  padding: 30px;
}

.links {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid white;
  border-width: 2px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 2s;
}

.bottom-text {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: #000;
  background: #fff;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    width: 100%;
  }
}
